.todoForm {
    margin-top: 20px;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.formGroup{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}
.input_md,.input_sm  {
    border: 1px solid rgb(157, 124, 254);
    border-radius: 20px;
    padding: 0.5rem 1rem;
    max-width: 200px;
    color: black;
}

.input_sm {
    max-width: 150px;
}

.input_md:focus {
    outline: none;
}


/* FILE INPUT */
.input_file{
    display: none;
}

.file_label{
    border: 1px solid rgb(100, 20, 220);
    padding:.4rem .5rem;
    border-radius: 5px;
    cursor: pointer;
}


/* BUTTONS */
.button_sm {
    border: none;
    outline-offset: 3px;
    border-radius: 20px;
    padding: 0.4rem 1.2rem;
    color: #ffffff;
}

.button_purple{
    outline: 1px solid rgb(157, 124, 254);
    background-color: rgb(157, 124, 254);
}
.button_blue{
    outline: 1px solid rgb(124, 191, 254);
    background-color: rgb(124, 191, 254);
}

.button_cancel{
    outline: 1px solid rgb(241, 79, 79);
    background-color: rgb(241, 79,79 );
}



.select_md{
    appearance: none;
    border: 1px solid lightblue;
    border-radius: 10px;
    padding:0.3rem 0.8rem;
    color: black;
    width: 100px;
    min-width: 120px;
}
.select_md:focus,
.select_md:hover{
    outline:none
}
