/* FULLSCREEN */
.full_screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
}

.overlay {
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.foldersNav {
    height: 100vh;
    overflow: auto;
    padding: 1rem 1.5rem;
    border-top-right-radius: 10px;
}

.foldersList {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.folderLink{
    padding: .6rem 0.8rem;
    border-radius:5px;
    background-color: rgb(218, 220, 221);
    font-size: 1.2rem;
}
.foldersList > *{
    max-width: 180px;
    min-width: 180px;
}


@media screen and (min-width:768px) {
    .full_screen {
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        width: 50vw;
        height: 90vh;
    }
}
