*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
button{
    cursor: pointer;
}

.flex-between {
    display: flex;
    gap: 1rem;
    align-items:center;
    justify-content: space-between;
}

.grid_2{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 1rem;
}

.h-center{
    display: flex;
    justify-content: center
}

.h-screen{
    height:100vh;
}

.m-t-20{
    margin-top:20px
}
.p-t-20{
    padding-top:20px
}


.text-ellipse{
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.p-relative{
    position: relative;
    isolation: isolate;
}


.dark-mode{
    background-color:#18191A;
    color: whitesmoke;
}

.light-mode{
    background-color:whitesmoke;
    color: #18191A;
}

.menu{
    border:1px solid grey;
    padding:0.3rem 0.9rem;
    background-color:royalblue;
    border-radius: 20px;
    color: whitesmoke;
}

@media screen and (max-width: 768px) {
    .grid_2{
        gap: 1rem;
    }
}