@tailwind base;
@tailwind components;
@tailwind utilities;



/* TYPOGRAPHY */
.text-ellipse {
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.absolute-center {
    top: 50%;
    left: 50%;
    transform: translateX(-50%, -50%);
}

.absolute-bottom-center {
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
}

/* MENU BUTTON */
.menu {
    border: 1px solid grey;
    padding: 0.3rem 0.9rem;
    background-color: royalblue;
    border-radius: 20px;
    color: whitesmoke;
}


/* Containers*/
.formContainer {
    border-radius: 10px;
    padding: 1rem;
    background-color:#280346;
    color: #ffffff;
    border: 5px solid rgb(170, 20, 220);
}









