.searchForm{
    margin-top: 20px;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.input_md{
    border: 1px solid rgb(157, 124, 254);
    border-radius:20px;
    padding: 0.5rem 1rem;
}
.input_md:focus{
    outline: none;
}

.button_sm{
    border: none;
    outline: 1px solid rgb(157, 124, 254);
    outline-offset: 3px;
    border-radius:20px;
    padding: 0.4rem 1.2rem;
    background-color:rgb(157, 124, 254);
    color:#ffffff;
}

.select_md{
    appearance: none;
    border: 1px solid lightblue;
    border-radius: 10px;
    padding:0.3rem 0.8rem;
    color: black;
    width: 100px;
    min-width: 180px;
}
.select_md:focus,
.select_md:hover{
    outline:none
}

.closed{
    display: none;
}